*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 9000px;
    background-image: url("../assets/grunge-vintage-old-paper-background.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
 

}

.herosection{
    padding: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}


.lyrichero{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
}

.lyric{
    width: 90vw;
    margin-top: -55px;
    overflow: hidden;
  animation: scaleLyric 2s ease ;
}

.lyric img{
    width: 100%;
    height: 100%;
}

.herocarpet{
    position: absolute;
    z-index: 0;
        width: 41vw;
    top: 30px;
}

.heroimg{
    position: relative;
    z-index: 2;
        width: 28vw;
  animation: scaleLyric 2s ease 2s backwards;

    top: 42px;
}


.herotxt{
    width: 24vw;
    top: 74%;
    z-index: 9;
  animation: scaleLyric 2s ease 1s backwards;
  

    position: absolute;
}

.tape{
        position: absolute;
    width: 25vw;
    z-index: 7;
    top: 93%;
}

.herocarpet {
  animation: spinCarpet 20s linear infinite;
  transform-origin: center;
}

@keyframes spinCarpet {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scaleLyric {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}



.section2{
    padding-top: 200px;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.house{
    width: 28vw;
     opacity: 0;
  transform: scale(0);
}

.girl{
    width: 26vw;
    margin-left: -200px;
     opacity: 0;
  transform: scale(0);

}

.half1{
    display: flex;
    position: relative;
    width: fit-content;
}

.half2{
    position: relative;
    width: 59%;
}

.player{
    position: absolute;
    width: 25vw;
    right: 200px;
    transform: rotate(17deg);
    z-index: 15;
  transform: scale(0);
    
    opacity: 0;
}

.note{
    position: absolute;
    right: 0;
    width: 33vw;
    opacity: 0;
  transform: scale(0);
}

.music{
    position: absolute;
    left: 125px;
}

.music7{
    position: absolute;
            top: 64px;
    left: 129px;
  animation: floatMusic 2.5s ease-in-out infinite;
animation-delay: 1.8s; 
}

.music6{
       position: absolute;
    top: -58px;
    right: -147px;
      animation: floatMusic 2.5s ease-in-out infinite;
 animation-delay: 1.5s; 
}

.music5{
    position: absolute;
    top: 24px;
    left: 15px;
      animation: floatMusic 2.5s ease-in-out infinite;
animation-delay: 1.2s; 
}

.music4{
    position: absolute;
top: 6px;
    left: 165px;
      animation: floatMusic 2.5s ease-in-out infinite;
animation-delay: 0.9s; 
}

.music3{
    position: absolute;

    top: 77px;
    right: -128px;
    animation-delay: 0.6s;
      animation: floatMusic 2.5s ease-in-out infinite;

}

.music2{
    position: absolute;
  top: 17px;
    left: 110px;
     animation-delay: 0.3s; 
      animation: floatMusic 2.5s ease-in-out infinite;

}

.music1{
    position: absolute;
           top: -41px;
    left: 45px;
      animation: floatMusic 2.5s ease-in-out infinite;

}

@keyframes floatMusic {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.8);
  }

  50% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(-60px) scale(1.1);
  }
}

@keyframes revealCharacter {
  from{
    opacity: 0;
    transform: scale(0);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }

}

@keyframes height {
  from{
    height: 0;
  }
  to{
    height: 836px;
  }
}


.section2-active .house{
  animation: revealCharacter 1s ease forwards;
}

.section2-active .girl{
  animation: revealCharacter 1s ease 0.4s forwards;
}

.section2-active .player{
  animation: revealCharacter 1s ease forwards;
}

.section2-active .note{
  animation: revealCharacter 1s ease 0.4s forwards;
}

.section2-active .line{
  animation: height 1s ease 0.7s forwards;

}




.line {
     top: 46%;
    position: absolute;
    left: 35%;
  stroke: #604635C9;
  height: 0;
  }


.section3{
    margin-top: 250px;
    position: relative;
}

.bg{
    position: absolute;
    width: 100%;
     opacity: 0;
  transform: scale(0);
}

.flower{
    position: absolute;
    left: 350px;
}

.tape2{
    position: absolute;
    right: 0;
}
.note3{
    position: absolute;
    right: 240px;
}

.violin{
    position: absolute;
        right: 83px;
    top: -94px;
}

.character{
    position: relative;
    z-index: 15;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cape{
    position: absolute;
    top: -40px;
}

.section3-active .bg{
  animation: revealCharacter 1s ease forwards;


}


.char{
    transform: translateY(-579px);
    opacity: 0;
    
}

.cape{
    z-index: 9;
    transform: translateY(-579px);
    opacity: 0;

}

.section3-active .char{
  animation: character 1s ease forwards 1s;

}

.section3-active .cape{
  animation: character 1s ease forwards 2.5s;

}
@keyframes character {
  from{
    transform: translateY(-579px);

    opacity: 0;
  }
  to{
    transform: translateY(0);

    opacity: 1;
  }
}



.section4{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
    padding-top: 200px;
}



.bgs4{
    width: 100%;
    position: absolute;
      margin-top: -320px;

}

.cup{
    position: absolute;
    left: 0;
    z-index: 2;
}

.flower2{
       position: absolute;
    left: 98px;
    top: -145px;
    z-index: 0;
    width: 30vw;
}

.radio{
       position: absolute;
    left: 26%;
    z-index: 8;
    top: -84px;
    width: 47vw;
}

.ticket{
    position: absolute;
    right: 0;
}

.news2{
        position: absolute;
    right: 61px;
    top: -103px;
    width: 30vw;
}

.omkolthoumhero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    z-index: 80;
}
.omkolthoum{
    width: 25vw;
    margin-top: -75px;
}

.section4-active .bgs4{
  animation: revealCharacter 1s ease forwards;


}


.section6{
  padding-top: 100px;
  position: relative;
}
.booth{
  width: 210vw;
    animation: slideLoop 20s linear infinite; 

}

@keyframes slideLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1170px);
  }
}

.flower4{
     position: absolute;
    width: 10vw;
    top: 106px;
    z-index: 9;
  

}


@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.section6-active .flower4{
    animation: slidein 1s ease ;
}

.piano{
      position: absolute;
    left: 50px;
    top: 153px;
    width: 20vw;
}

.section6-active .piano{
    animation: slidein 1s ease 500ms ;
}

.badge{
  position: absolute;
  right: 0;
  bottom: -35px;
    width: 7vw;
}

.enta{
     right: 53px;
    top: 39px;
    position: absolute;
    width: 18vw;
}

.section6-active .badge{
    animation: slidein2 1s ease 700ms ;
}

.section6-active .enta{
    animation: slidein2 1s ease 900ms ;
}


@keyframes slidein2 {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }

}

.section8{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.section8-active .omk4{
  animation: revealCharacter 1s ease forwards;

}

.omk4cont{
  position: relative;
}

.glass{

}

.ear{

}

.jewl{

}

.scarf{
  
}