*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.preloader{
       width: 100%;
    height: auto;
    background-image: url("../assets/grunge-vintage-old-paper-background.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.preloader h3{
    color: #6E503D;
text-align: center;
font-family: "Special Elite", system-ui;
font-size: 30.152px;
font-style: normal;
font-weight: 350;
line-height: normal;
letter-spacing: -1.206px;
}

.preloader img{

    animation: spinCarpet 20s linear infinite ;
    transform-origin: center;
}

@keyframes spinCarpet {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.msg{
    width: 100%;
    height: auto;
    background-image: url("../assets/grunge-vintage-old-paper-background.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msg h1{
    color: #6E503D;;
text-align: center;
font-family: "Special Elite", system-ui;
font-size: 200px;
font-style: normal;
font-weight: 350;
line-height: normal;
letter-spacing: -2.905px;
}